<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/frontend/src/style.css">
    <title>RAY - Full Stack Developer Test Exercise</title>
</head>
<body> 
    <div class="row">
        <div class="logo-container">
            <img id="signup-logo" class="brand-logo" src="../static/frontend/src/utils/RAY-Brand-Black.png">
        </div>
        <div class="wrapper">
            <div class="formBox baseHome">
                <h2>Este es un place holder para la página</h2>
                <form action="#">
                    <button onclick="window.location.href='/login'">
                        <a href="/login" class="login-link">Login</a>
                    </button>
                    <button onclick="window.location.href='/signup'">
                        <a href="/signup" class="register-link">Signup</a>
                    </button>
                </form>
            </div>
        </div> 
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>